<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YuGiOh - CardFight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let card of cards">
      <ion-item>
        <ion-avatar item-start>
        </ion-avatar>

        <!--InicioCard-->
        <ion-card>
          <!--
          <ion-card-header>
            <ion-card-title>{{ card.name }}</ion-card-title>
            <ion-card-subtitle>Id: {{ card.id }}</ion-card-subtitle>
          </ion-card-header>
          -->
          <ion-card-content>
           <img src="{{card.card_images[0].image_url}}">
          </ion-card-content>
          <!--
          <ion-card-content>
            {{card.desc}}
          </ion-card-content>       
        -->
      </ion-card>
        <!--FimCard-->

      </ion-item>
    </ion-item-sliding>

  </ion-list>


  <ion-item>
    <ion-label>Cards List:</ion-label>
    <p>{{cards[0]}}</p>
  </ion-item>


</ion-content>

<ion-item>
  <ion-label position="stached"></ion-label>
  <ion-input type="text" [(ngModel)]="searchArchetype"></ion-input>
  <ion-button expand="block" (click)="searchCard()">Search</ion-button>
</ion-item>