<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Life Point
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Life Point</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button size="default" expand="block" strong color="dark">Player 01</ion-button>
  <ion-button size="default" fill="outline" expand="block" strong disabled color="dark">8000</ion-button>

  <!--ION-->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      
      <ion-col class="ion-align-self-center">
        <div>
         
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">1000</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">500</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">100</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">50</ion-button>
         
        </div>
      </ion-col>

      <ion-col class="ion-align-self-center">
        <div>
          
            <ion-button size="small" expand="block" (click)="searchCard()">1000</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">500</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">100</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">50</ion-button>
          
        </div>
      </ion-col>
      
      <ion-col class="ion-align-self-center">
        <div>
          
            <ion-button size="small" expand="block" (click)="searchCard()">HALF</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">CUSTOM</ion-button>
          
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!--ION FIM-->

  <ion-button size="default" expand="block" strong color="dark">Player 02</ion-button>
  <ion-button size="default" fill="outline" expand="block"  disabled color="dark">8000</ion-button>

  <!--ION-->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      
      <ion-col class="ion-align-self-center">
        <div>
         
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">1000</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">500</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">100</ion-button>
            <ion-button size="small" color="danger" expand="block" (click)="searchCard()">50</ion-button>
         
        </div>
      </ion-col>

      <ion-col class="ion-align-self-center">
        <div>
          
            <ion-button size="small" expand="block" (click)="searchCard()">1000</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">500</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">100</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">50</ion-button>
          
        </div>
      </ion-col>
      
      <ion-col class="ion-align-self-center">
        <div>
          
            <ion-button size="small" expand="block" (click)="searchCard()">HALF</ion-button>
            <ion-button size="small" expand="block" (click)="searchCard()">CUSTOM</ion-button>
          
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!--ION FIM-->


 <!-- <app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>

